.menu {
    display: flex;
    justify-content: center;
    padding: 30px;
}

a {
    display: inline-block;
    width: 15%;
    padding: 5px;
    margin: 0 5px;
    border-radius: 2px;
    text-decoration: none;
    text-align: center;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: Arial, sans-serif;
}

a:hover {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}
